# SQL

## SQL CLI

![sqlite-sample-database-color.jpeg](./images/sqlite-sample-database-color.jpeg)

1. Notice to check the db (.db should be in pwd)
2. Initalize SQLite CLI: `sqlite3`  
3. Open the DB: `.open chinook.db`

## Inspect the Data
3. Check the list tables: `.tables`
4. Check schema (structure of fields/columns): `.schema customers`
5. Check database we have `.databases`
6. Check indexes: `.indexes` or `.indexes customers`
7. Query data:
```
sqlite> SELECT *
   ...> FROM customers
   ...> LIMIT 5;
```

In [6]:
# TODO: Compare the result with the Diagram

## SQL Editor (SQLite Online)

Though CLI might not be very friendly to learn SQL, let's use the online tools which it esaier (and more similar to the SQL Editor we actually work with in reality)

> https://sqliteonline.com/

1. `File` -> Upload the `sql/chinook.db`
2. On right panel, you will see all data schema and tables
3. In the middle, the place we right SQL code (+ Output)
4. Friendly to SQL-learner, we have the syntax cheatsheet

![sqlite-online.png](./images/sqlite-online.png)

In [13]:
#TODO: Copy the code below and pass it to sqliteonline.com

**Something about SQL**

* Not indentation & Upper/Lowe Case sensitive

In [ ]:
# Select columns
SELECT 
	* ## All cols
FROM invoice_items ## tables
LIMIT 10; ## Limit the returns data

In [ ]:
SELECT 
	invoiceid, ## List all selected cols
    unitprice
FROM invoice_items
LIMIT 10;

![compare-operator.png](./images/compare-operator.png)

In [ ]:
# Filters with WHERE
SELECT 
	*
FROM employees
WHERE lastname = 'Adams'; # Try with <>

In [ ]:
# CASE WHEN (similar to if-else)
SELECT 
	employeeid,
    lastname,
    CASE reportsto 
    	WHEN 1 THEN 'Adams'
        WHEN 2 THEN 'Edwards'
        WHEN 6 THEN 'Mitchell'
        ELSE 'None'
    END AS boss_name
FROM employees
;

##

In [ ]:
# AGGREGATE, GROUP BY, ORDER BY
SELECT 
	billingstate,
	invoicedate,
    SUM(total) AS total_value, ## Aggregate func: COUNT(), MAX(), SUM(), AVG()
    COUNT(customerid) AS customer_cnt,
    COUNT(invoiceid) AS invoice_cnt
FROM invoices
WHERE billingstate IS NOT NULL
GROUP BY billingstate, invoicedate ## GROUPS
ORDER BY total_value DESC ## ORDER BY
;

In [ ]:
# Filters with HAVING
SELECT 
	billingstate,
	invoicedate,
    SUM(total) AS total_value,
    COUNT(customerid) AS customer_cnt,
    COUNT(invoiceid) AS invoice_cnt
FROM invoices
GROUP BY billingstate, invoicedate
HAVING billingstate iS NOT NULL ## Equivalent to above, filter after the aggregation
ORDER BY total_value DESC
;

![sql-wrapup.png](./images/sql-wrapup.png)

## Merge / Combine tables

* For most of the case, we need to combine data from several tables
* Check the Diagram, pay attention to the keys

![sqlite-sample-database-color.jpeg](./images/sqlite-sample-database-color.jpeg)

**Tips** 

1. For most of the cases, you only need to remember `LEFT JOIN`, `INNER JOIN` (not common `FULL JOIN`, and `RIGHT JOIN` similar to LEFT)
2. Check the counts of ID before merge (after merge your total numbers, or id counts is expected to match your expectations)
    - Bigger table (in ID cnt) put on the left. After LEFT JOIN, id cnt of new table = id cnt of the left (bigger table)
    - Inner join: the putput table have the ID cnt = ID cnt in table 1 exist in table 2
    - Similar you put other checks (follow the venn)

![joining-type.png](./images/joining-type.png)

In [11]:
# MERGE TABLES
SELECT 
	t1.*,
	t2.trackid, # Cols attribute to table
    t2.name, 
    t2.albumid
FROM invoice_items AS t1 ## Alias for table
LEFT JOIN tracks AS t2 ## Joining type
ON t1.trackid = t2.trackid ## key to join
;

![sql-union.png](./images/sql-union.png)

In [ ]:
# SUB-QUERIES & ENSEMBLE
WITH output1 AS (
  SELECT 
  *
FROM playlists
WHERE name = 'Music'),

output2 AS
(SELECT *
FROM playlists
WHERE name = 'Movies')

SELECT *
FROM output1
UNION ## Others: UNION ALL, INTERSECT
SELECT *
FROM output2

In [ ]:
#TODO:
# 1. Sum all Total by CustomerId (table: invoices)
# 2. Count track within each playlist (table: playlist_track)
# 3. Merge table invoices and invoice_item to get all trackid purchased in the invoice of each customers (cols: customerid, invoiceid, total, trackid, unitprice, quantity)
# 4. Merge with table tracks (Hints: Using sub-queries, turn output in (3) into a sub-queries) with the output in (3). Filter out Composer IS NULL
# 5. From the output of 4. Aggregate sum of quantity and sum of total by Name (of track) and Composer (Hints: Using sub-queries, turn output in (4) into a sub-queries). ORDER from high total value to low total value

In [ ]:
#TODO:
## Identify the Top 5 biggest customers
# 1. Sum the total quantity, count of invoice, and total value by each Invoice (tables: invoice_items => invoices. Take top 5
# 2. Sum the total quantity, count of invoice, and total value by each Users (tables: invoice_items => invoices => customers)
## Who are the key employees the Support Rep of the biggest customers
# 3. Merge output of (2) to employees to get who is Support Rep of the customer
# 4. Sum the total quantity, count of invoice, and total value by Support Rep

In [14]:
## How we declare the whole data structures, keys? (Read: DML, DDL in Materials)