In [12]:
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
df = pd.read_csv('/Users/danghuynhmaianh/Downloads/taxi_rides 2.csv')

In [16]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,duration,distance,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,id3487442,2,2/29/16 18:39,2/29/16 18:42,1,-73.981819,40.768963,-73.981819,40.768963,N,227,0.0,NaN,NaN,NaN
1,id1145809,2,5/16/16 23:15,5/16/16 23:31,6,-73.808487,40.687336,-73.808487,40.687336,N,947,0.0,NaN,NaN,NaN
2,id3499387,1,1/25/16 19:45,1/25/16 19:54,1,-73.786720,40.647041,-73.786720,40.647041,N,580,0.0,NaN,NaN,NaN
3,id0753277,1,1/27/16 22:29,1/27/16 22:29,1,-74.209854,40.816853,-74.209854,40.816853,N,27,0.0,NaN,NaN,NaN
4,id2134482,1,1/22/16 16:13,1/22/16 16:13,1,-73.776314,40.645454,-73.776314,40.645454,N,19,0.0,NaN,NaN,NaN

In [14]:
df.distance.describe()

count    1.048468e+06
mean     3.442279e+00
std      4.382064e+00
min      0.000000e+00
25%      1.232231e+00
50%      2.094639e+00
75%      3.876902e+00
max      1.240909e+03
Name: distance, dtype: float64

In [ ]:
  CREATE TABLE taxi_rides (
 	id varchar(30),
  	vendor_id varchar(30),
  	pickup_datetime timestamp,
  	dropoff_datetime timestamp,
  	passenger_count integer,
  	pickup_longitude numeric,
  	pickup_latitude numeric,
  	dropoff_longitude numeric,
 	dropoff_latitude numeric,
  	store_and_fwd_flag varchar(30),
  	duration numeric,
  	distance numeric
  );

In [ ]:
COPY taxi_rides (id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,duration,distance)
FROM '/Users/danghuynhmaianh/Desktop/taxi_rides.csv'
WITH (FORMAT CSV, HEADER);